<footer class="main-footer">
    <div class="footer-inner">
        <strong><a href="https://suzeorman.com">SuzeOrman.com</a> </strong> <span></span> <span><a href="https://www.suzeorman.com/privacy-policy" target="_blank">Privacy Policy</a> | <a href="https://www.suzeorman.com/terms" target="_blank">Terms of use</a>

</span>
    </div>
</footer>

<scriptsrc="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{asset 'app.js'}}"></script>